{{ partial "header.html" . }}

<div id="page-content">
	<h1 class="page-title">{{ .Title }}</h1>
	<div>
		<p><b>Visáért Alapítvány</b></p>
		<br>
		<p><b>Székhely:</b> 2083 Solymár, Jókai Mór utca 16.</p>
		<p><b>Email:</b> visaertalapitvany@gmail.com</p>
		<p><b>Cégjegyzék szám:</b> 13-01-0004306</p>
		<p><b>Adószámszám:</b> 19340005-1-13</p>
		<p><b>KSH száma:</b> 19340005-8552--569.13</p>
		<br>
		<p><b>Forint számla:</b> 10300002-13338749-00024905</p>
		<p><b>Euro számla:</b> 10300002-13338749-00014889</p>
		<p><b>IBAN:</b> HU98 10300002-13338749-00014889</p>
		<p><b>Swift kód:</b> MKKB HU HB</p>
	</div>

</div>
{{ partial "footer.html" . }}