{{ partial "header.html" . }}

<div id="page-content">
	<h1 class="page-title">{{ .Title }}</h1>

	{{ $params := .Params }}
	{{ range $idx, $section := .Params.sections }}
		<div class="section">
			{{ if (index $section.title) }}
			<h2 class="section-title">{{$section.title}}</h2>
			{{ end }}		

			<div class="section-content">
				{{ range $paragraph := .paragraphs }}
					<p>{{ $paragraph }}</p>
				{{ end }}
			</div>
		</div>
	{{ end }}
	
	<div>
		<p><b>Forint számla:</b> 10300002-13338749-00024905</p>
		<p><b>Euro számla:</b> 10300002-13338749-00014889</p>
		<p><b>IBAN:</b> HU98 10300002-13338749-00014889</p>
		<p><b>Swift kód:</b> MKKB HU HB</p>
	</div>
		
</div>
{{ partial "footer.html" . }}