{{ partial "header.html" . }}
{{ $posts := (.Data.Pages) }}
{{ $postsLength := len $posts }}

<div id="list-container">

	{{ if (gt $postsLength 0) }}

		<div id="header">
			<a href="/gallery">< Vissza</a>
			<h1 class="page-title">{{ .Title }}</h1>
		</div>
			
		{{ .Content }}

		<h2>Albumok</h2>
		{{ range.Data.Pages }}
			<h3 class="folder">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</h3>
		{{ end }}

	{{ else }}

		<h1>Még nincsenek beszámolók</h1>

	{{ end }}

</div>

{{ partial "footer.html" . }}
