{{ partial "header.html" . }}

<div id="single-container">
	<h1 class="post-title">{{ .Title }}</h1>

	{{ $params := .Params }}
	{{ range $idx, $section := .Params.sections }}

	<div class="single-section">
		<h2 class="single-section-title">{{.title}}</h2>
		<div class="single-section-content">
			{{ if (index $params.image $idx) }}
				<img class="show-on-scroll" src="{{ (index $params.image $idx) }}" >
			{{ end }}
			
			<div class="single-section-text">
				{{ range $paragraph := .paragraphs }}
					<p>{{ $paragraph }}</p>
				{{ end }}
			</div>
		</div>
	</div>
	{{/*  <div class="border"></div>  */}}
	{{ end }}


</div>

{{ partial "footer.html" . }}
