:root {
  --visa-red: #EE1C26;
  --visa-green: #319444;
  --visa-dark-gray: #151515;
  // --intro-section-background: rgb(76, 0, 0);
  // --visa-section-background: rgb(0, 37, 0);
  --intro-section-background: rgb(0, 37, 0);
  --visa-section-background: rgb(76, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d1d1d1;
  background: #2f2f2f;
  font-size: 125%;
  line-height: 1.5;
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;

  .content {

    .full-page-section {
      width: 100vw;
      min-height: 100vh;

      &.landing {
        background-image: url('../visaert_landing_image.jpg');
        background-size: cover;
      }
    }

    .background-gradient {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba($color: black, $alpha: .4);
      font-size: 2rem;

      & p {
        margin-bottom: 10rem;
      }
    }

    #intro {
      background: var(--intro-section-background);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      & #intro-border {
        padding: 3rem;
        width: calc(100vw - 15vh);
        border: .2rem white solid;
      }

      h1 {
        font-size: 3rem;
        font-weight: 400;
      }

      #intro-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        text-align: justify;
        align-items: center;
        & img {
          width: 40vw;
        }
      }
    }

    #visa {
      background: var(--visa-section-background);
      color: white;
      padding-top: 10vh;
      padding-bottom: 10vh;
      padding-left: 10vw;
      padding-right: 10vw;

      h1 {
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
      }
    }
  }
}

.call-to-action {
  background: #a91219;
  color: white;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: bold;
  height: 48px;
  padding: .5rem;
  cursor: pointer;
  font-family: 'Source Sans Pro';
  font-weight: 500;

  &:hover {
    background: var(--visa-red);
  }
}

@media screen and (max-width: 48rem) {

  body .content #intro #intro-content {
    flex-direction: column;
  }
}