.site-header {
  background: rgba($color: black, $alpha: .8);
  width: 100%;
  position: fixed;
	font-family: 'Source Sans Pro';
  z-index: 2000;

  .site-nav {
    display: flex;
    max-width: 45rem;
    margin: 0 auto;
    justify-content: space-between;
		align-items: center;

    a {
      display: inline-block;
			position: relative;
      margin: 1rem;
      border-radius: .5rem;
      text-decoration: none;
      color: #d1d1d1;
      transition: color, .25s;

      &.menu-item, &.logo {
        border: 2px #EE1C26 solid;
        padding: .2rem;
        margin: .8rem;
      }

			&.menu-item::after, &.logo::after {
				content: '';
				position: absolute;
				width: 80%;
				transform: scaleX(0);
				height: 2px;
				bottom: .2rem;
				left: 10%;
				background-color: var(--visa-green);
				transform-origin: bottom left;
				transition: transform 0.25s ease-out;
			}

			&.menu-item:hover {
        color: #ffffff;

				&.menu-item::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}

    }

    .logo {
      font-weight: 500;
      padding-left: 0;
      transition: color, .25s;
      
      &:hover {
        color: white;

        &::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
      }
    }

		.call-to-action {
			margin: calc((62px - 48px) / 2);
      color: white;
		}
    
    .menu-icon {
      visibility: hidden;
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }

    .nav-mobile {
      display: none;
    }

    .nav-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &.mobile {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-header {
    .site-nav {
      margin:  0;
      width: 100%;
      z-index: 100;
			max-width: 100vw;
			align-items: inherit;

      .nav-desktop {
        display: none;
      }

      .nav-mobile {
        display: block;
				z-index: 2;

        .nav-container {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          position: relative;
          z-index: 2;

					#mobile-menu-button-container {
						display: flex;
						flex-direction: row;
						align-items: center;

						
						.logo {
							margin: 1rem;
						}
	
						.menu-icon {
							visibility: visible;
							width: 48px;
							height: 48px;
							margin: calc((62px - 48px) / 2);
							box-sizing: content-box;
							cursor: pointer;
						}
					}

        }

        .main-menu.mobile {
          position: absolute;
          display: block;
          width: 100%;
					background: rgba($color: black, $alpha: .8);
          transform: translateY(-208px);
          display: hidden;
          transition-timing-function: cubic-bezier();
          transition-duration: .5s;
          z-index: 1;

					& .menu-item {
						width: 100%;
            border: none;

            &::after, &::before {
              transition: none;
              display: none;
            }
					}
  
          &.present {
            transform: translateY(0);
            display: block;
          }
        }
      }
    }
  }
}