:root {
  --single-container-width: 100vw;
  --single-container-padding: 3rem;
  --single-section-content-gap: 2rem;
  --single-section-content-img-max-width: calc((var(--single-container-width) - var(--single-container-padding) * 2 var(--single-section-content-gap)) / 2);
  --single-section-content-img-max-height: 60vh;
}

#single-container {
  padding: var(--single-container-padding);
  display: flex;
  flex-direction: column;
  width: var(--single-container-width);
  gap: 3rem;
  
  & .border {
    width: 30vw;
    height: 3px;
    background-color: #d1d1d1;
    align-self: center;

    &:last-of-type {
      display: none;
    }
   }

  & .single-section {
    display: flex;
    flex-direction: column;

    &:nth-child(even) {

      & .single-section-content {
        flex-direction: row-reverse;
      }

    }

    .single-section-title {
      font-family: 'Poltawsky Nowy';
    }
    
    .single-section-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--single-section-content-gap);
      max-width: 100%;

      img {
        object-fit: cover;
        max-width: calc(var(--single-section-content-img-max-width));
        z-index: 1;
      }

      .single-section-text {
        display: flex;
        flex-direction: column;
        text-align: justify;
        z-index: 2;

        & p { margin: 0 }
      }
    }
  }

}

.post-title {
  font-family: 'Poltawsky Nowy';
  margin-bottom: 1rem;
}

.post-date {
  display: block;
  margin-bottom: 2rem;
  font-style: italic;
}

@media screen and (max-width: 48rem) {
  #single-container .single-section .single-section-content {
    flex-direction: column !important;

    img {
      max-width: 100%;
      transform: rotate(0deg) !important;
    }
  }
}