.show-on-scroll {
	opacity: 0;
	transform: rotate(10deg);
	transition: opacity .5s .25s ease-out, transform .2s .25s ease-out;
}

.is-visible {
	opacity: 1;
	transform: rotate(0deg);
}

.background-gradient {
	background: rgba($color: black, $alpha: .4);
}