#village-content {
	padding: var(--content-padding);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;

	& .page-title {
		text-align: center;
	}

	& .title {
		font-family: 'Poltawsky Nowy';
	}

	& .section {
		& .section-content {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}
}