</main>
	
<footer>
  <div id="footer-content">
	  {{ $logo := resources.Get "./images/visaert_logo_scaled_2.png" }}
    <img src="{{ $logo.RelPermalink }}" alt="">
    <div class="footer-section">
      <p class="section-title">Kapcsolat</p>
      <p>Visáért Alapítvány</p>
      <p>2083 Solymár, Jókai Mór utca 16.</p>
      <p>visaertalapitvany@gmail.com</p>
      <p><span class="bold">Cégjegyzék szám:</span> 13-01-0004306</p>
      <p><span class="bold">Adószámszám:</span> 19340005-1-13</p>
      <p><span class="bold">KSH száma:</span> 19340005-8552--569.13</p>
    </div>
    <div class="footer-section">
      <p class="section-title">Bankszámláink</p>
      <p><span class="currency">HUF</span>10300002-13338749-00024905</p>
      <p><span class="currency">EUR</span>10300002-13338749-00014889</p>
      <p><span class="currency">EUR</span>IBAN: HU98 10300002-13338749-00014889</p>
      <p><span class="bold">Swift kód:</span> MKKB HU HB</p>
    </div>
  </div>
	<p id="copyright">&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
</footer>

</body>
</html>
