<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	{{ $sass := resources.Get "/styles/style.scss" }}
	{{ $style := $sass | resources.ToCSS }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css" media="all" />
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ $netlify_script := resources.Get "./scripts/netlify_admin.js" }}
	{{ $menu_script := resources.Get "./scripts/menu.js" }}
	{{ $scroll_script := resources.Get "./scripts/scroll.js" }}
	<script src="{{ $netlify_script.RelPermalink }}" defer></script>
	<script src="{{ $menu_script.RelPermalink }}" defer></script>
	<script src="{{ $scroll_script.RelPermalink }}" defer></script>

</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
