<header class="site-header">
  <nav class="site-nav">
    <div class="nav-mobile">
      <div class="nav-container">
        <a class="logo" href="/">
          {{ .Site.Title }}
        </a>
        <div id="mobile-menu-button-container">
          <a class="call-to-action" href="/donate">Adományozás</a>
          {{ $menuIcon := resources.Get "/reshot-icon-menu-D6U5PY3TJK.svg" }}
          <a class="menu-icon" ><img src="{{ $menuIcon.RelPermalink }}" alt=""></a>
        </div>
      </div>
      <ul class="main-menu mobile">
        {{ range.Site.Menus.main }}
        <li>
          <a class="menu-item" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="nav-desktop">
      <a class="logo" href="/">
        {{ .Site.Title }}
      </a>
      <ul class="main-menu">
        {{ range.Site.Menus.main }}
        <li>
          <a class="menu-item" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        <li>
          <a class="call-to-action" href="/donate">Adományozás</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
