:root {
  --visa-red: #EE1C26;
  --visa-green: #319444;
  --visa-dark-gray: #151515;
  --intro-section-background: rgb(76, 0, 0);
  --activity-section-background: rgb(0, 37, 0);
  --welcome-section-background: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #d1d1d1;
  background: #2f2f2f;
  font-size: 125%;
  line-height: 1.5;
  margin: 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  & main {
    padding-top: 62px;
    flex-grow: 1;
  }

  .content {

    .full-page-section {
      width: 100vw;
      min-height: 100vh;

      &.first {
        min-height: calc(100vh - 62px);
        height: calc(100vh - 62px);
      }

      & .section-text {
        font-size: 1.3rem;
        text-align: left;
      }
    }

    #welcome {
      background: var(--welcome-section-background);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20vw;
      padding-right: 20vw;

      & p {
        font-family: 'Poltawsky Nowy';
        text-align: center;
        font-size: 2rem;
        align-self: flex-start;
      }

      & #logo-big {
        height: 80vh;
        object-fit: contain;
        align-self: flex-end;
      }
    }
    
    #landing {
      background-image: url('../visaert_trombita.jpg');
      background-size: cover;
      background-position-x: 30%;
      background-position-y: 80%;
      color: white;
      
      #landing-background {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
   
        & p {
          font-family: 'Poltawsky Nowy';
          text-align: center;
        }

        & h1 {
          font-family: 'Poltawsky Nowy';
          font-size: 5rem;
          text-align: center;
        }
      }

    }
    

    #intro {
      background: var(--intro-section-background);
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10vh;
      
      & #intro-border {
        padding: 3rem;
        border: .2rem white solid;
      }

      h1 {
        font-family: 'Poltawsky Nowy';
        font-size: 2.5rem;
        font-weight: 400;
      }

      #intro-content {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;

        & img {
          width: 40vw;
        }
      }
    }

    #activity {
      background: #d1d1d1;
      color: black;
      padding-top: 10vh;
      padding-bottom: 10vh;
      padding-left: 10vw;
      padding-right: 10vw;

      h1 {
        font-family: 'Poltawsky Nowy';
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 3rem;
      }

      & #about-village-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;

        & img {
          width: 40vw;
          object-fit: contain;
        }
      }

      & .section-text {
        font-size: 1.2rem;
      }
    }

    #members {
      background: var(--activity-section-background);
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 10vh;
      padding-bottom: 10vh;
      padding-left: 10vw;
      padding-right: 10vw;


      h1 {
        font-family: 'Poltawsky Nowy';
        font-size: 2.5rem;
        font-weight: 400;
      }

      & .member-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;

        & img {
          width: 40vw;
          object-fit: cover;
          align-self: normal;
        }
      }
    }
  }
}

.call-to-action {
  background-color: #a91219;
  color: white;
  border: none;
  border-radius: .5rem;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  height: 48px;
  padding: .5rem;
  cursor: pointer;
  font-family: 'Source Sans Pro';
  font-weight: 500;
  transition: background-color, .2s;

  &:hover {
    background-color: var(--visa-red);
  }
}

@media screen and (max-width: 48rem) {

  .full-page-section .section-text {
    font-size: 1rem;
  }

  body .content #welcome {
    padding: 0;

    & p {
      align-self: normal;
    }

    & #logo-big {
      align-self: normal;
      height: 100vw;
    }
  }

  body .content #intro #intro-content {
    flex-direction: column;

    & img {
      width: 100%;
    }
  }

  body .content #activity {
    & h1 {
      font-size: 2rem;
    }
    & #about-village-container {
      flex-direction: column;
  
  
      & img {
        width: 100%;
      }
    }
  }

  body .content #members {
    h1 {
      text-align: center;
    }
  
    & .member-container {
      flex-direction: column;


      & img {
        width: 100%;
      }
    }
  }
}