{{ partial "header.html" . }}
<section class="full-page-section landing">
	<div class="background-gradient">
		<h1>{{ .Params.title }}</h1>
		
		<p>{{ .Params.blurb }}</p>
	</div>
</section>

<section id="intro" class="full-page-section">
	<div id="intro-border">
		<h1>Bemutatkozás</h1>
		<div id="intro-content">
			<p>Lórum ipse mint szívábrin klok hajlan, míg olásnak és dzsebnek semmi rozára kanyad. A bulás matlan tinceseket héroz az enemeknek, amikor éppen göntesen lobolnak. Minden olyan szegelye, amely egy másik gyalmasásban kapajgásban lovábbít, a pulya satos ramójának van kitéve. Vesztés gyáron hurázat gúnyos menta szerint a gúnyos körcében szernyős lelők inéke csábályos csonyosításokat keleszt majd. Hurázat erről a fogártás függő mozott spinatban sörtekvő csapor rőlésében szezett, amelyben részletesen gyönyözött a nyuras körce röngés vezléseinek</p>
			{{ $intro := resources.Get "/visaert_intro.jpg" }}
			<img src="{{ $intro.RelPermalink }}" alt="">
		</div>
	</div>
</section>

<section id="visa" class="full-page-section">
<h1>A  FALURÓL</h1>
<p>A Mezőség Erdély legkorábban (körülbelül a X.-XI. században) magyarok által benépesített területei közé tartozik. A letelepült Borsa nemzetségek hadászatilag is igyekeztek biztosítani területeiket, ezért „gyepüket” alkottak. A középkorig viszonylag sűrűn magyarlakta vidék volt, de a Szamos vonalától északra a betelepülés csak a XII.-XIII. század folyamán indult el és még a XVI. században is tartott. A magyarok által üresen hagyott vidékekre települt be később a románság, melyek életmódja nem kívánt művelhető területet, valamint ide telepítették az északi védővonal megerősítésére a szászokat is a XII. század második felében.</p>
</section>

{{/*  {{ range .Params.sections }}
	<h2>{{ .heading }}</h2>
	<p>{{ .text }}</p>
{{ end }}  */}}

{{ partial "footer.html" . }}
